<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71578743494-ush3rsm0deuglnhjia87caifkp143u45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71578743494-ush3rsm0deuglnhjia87caifkp143u45</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71578743494-5l096qde0q3rphb4bk3spr7cglfplpgf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpz2o2nELvnfQ8E94IZvleKcBoN1v_hPs</string>
	<key>GCM_SENDER_ID</key>
	<string>71578743494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-dfd1d</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-dfd1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71578743494:ios:57a44af95b4a5184a81dc7</string>
</dict>
</plist>